body {
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
	background: #0a141e;
}

@media (min-width: 1024px) {
	body {
		width: 70%;
	}
}

h1 {
	display: none;
}

img {
	max-width: 100%;
}

p {
	color: #c3e3b7;
}